In [33]:
# install datasets libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

In [34]:
df.loc[:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [36]:
median_salary_year = df['salary_year_avg'].median()

In [37]:
median_salary_hour = df['salary_hour_avg'].median()

In [49]:

df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'] .fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'] .fillna(median_salary_hour)

In [48]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('Length of original df:          ', len(df_filled))
print('Length of dropped duplicates df:', len(df_unique))
print('rows dropped df:                ', len(df_filled)-len(df_unique))

Length of original df:           785741
Length of dropped duplicates df: 785640
rows dropped df:                 101

In [47]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print('Length of original df:          ', len(df_filled))
print('Length of dropped duplicates df:', len(df_unique))
print('rows dropped df:                ', len(df_filled)-len(df_unique))

Length of original df:           785741
Length of dropped duplicates df: 508042
rows dropped df:                 277699