In [5]:
# install datasets libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

In [11]:
dataset = load_dataset('lukebarousse/data_jobs')
df_original=dataset['train'].to_pandas()

In [17]:
df_altered = df_original.copy()

In [18]:
print('ID of original :                      ', id(df_original))
print('ID if altered:                        ', id(df_altered))
print('Are the two Dataframes the same?      ', id(df_original) ==id(df_altered))

ID of original :                       1553958383632
ID if altered:                         1553958569104
Are the two Dataframes the same?       False

In [ ]:
median_salary = df_altered['salary_year_avg'].mean()

df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5, 'salary_year_avg']

0    123286.274072
1    123286.274072
2    123286.274072
3    123286.274072
4    123286.274072
5    123286.274072
Name: salary_year_avg, dtype: float64

In [20]:
df_original.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64